:root {
    --color-dark: #171717;
    --color-main: #6D11CA;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: noto-sans, sans-serif;
};
*::after,
*::before{
    box-sizing: border-box;
}
h1{
    font-style: normal;
    font-weight: bold;
    font-size: 96px;
    line-height: 106.38%;
    color: #FFFFFF;
    margin: 0;
}
h2{
    font-style: normal;
    font-weight: bold;
    font-size: 72px;
    line-height: 106.38%;
    color: #FFFFFF;
    margin: 0;
}
h3{
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    line-height: 106.38%;
    color: #FFFFFF;
    margin: 0;
}
h4{
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 106.38%;
    color: #FFFFFF;
    margin: 0;
}
h5{
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 106.38%;
    color: #FFFFFF;
    margin: 0;
    padding: 0;
}
.countainer{
    width: 1337px;
    margin: 0 auto;
}
p{
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 106.38%;
    color: #FFFFFF;
    margin: 0;
    padding: 0;
}
body{
    background: var(--color-dark);
    color: white;
    overflow-x: hidden;
}
section{
    margin-bottom: 180px;
}
span{
    display: block;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: white;
}
/* НАЧАЛО КОДА */
.logo{
    margin: 47px 0 160px 83px;
}
.nav-group{
    font-weight: 600;
    font-size: 18px;
    line-height: 106.38%;
    list-style-type: none;
    margin: 0 0 309px 76px;
}
.nav-group li{
    margin-bottom: 25px;
    transition: all 0.5s ease;
}
.nav-group li:last-child{
    margin-bottom: 0px;
}
.nav-group li:hover{
    padding-left: 25px;
    list-style: url("../icons/LI_marker.png");
}
/* .header-section__left-nav-bar{
    width: 537px;
} */
.header-section__left-nav-bar__img-paralacs{
    height: 151px;
    width: 737px;
    /* left: 0; */
    margin-left: -253px;
    background:url("../img/img1.png");
    background-size: 55%;
    background-attachment: fixed;
    /* position: absolute; */
}
.header-section-wrp{
    display: flex;
}
.right-side__backgrond{
    position: absolute;
    top: 0;
    z-index: -1;
    
}
.header-section__right-side__info-box{
    margin: 47px 0 0 652px;
}
.location{
    display: flex;
    margin-bottom: 20px;
}
.location__icon{
    width: 12px;
    height: 15px;
    margin-right: 10px;
}
.location__place{
    width: 165px;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 106.38%;
    color: #FFFFFF;
}
.phone__num{
    display: flex;
}
.phone__number{
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 106.38%;
    color: #FFFFFF;
    margin-left: 10px;
    display: block;
    text-decoration: none;
}
.header-section__right-side__main-offer{
    width: 700px;
    margin: 100px 0 0 -65px;
}
.social-media {
    width: 443px;
    height: 150px;
    margin-top: 196px;
    align-items: center;
    display: flex;
    justify-content: center;
}
.social-media a{
    margin-right: 56px;
}
.social-media a:last-child{
    margin-right: 0px;
}




/* ///////////////////////////////// */

.our-advantages__title{
    font-size: 108px;
    font-style: normal;
    font-weight: 700;
    line-height: 115px;
    letter-spacing: 0em;
    text-align: center;
    margin-bottom:85px ;
}

.sector{
    display: flex;
    justify-content: space-between;
}
.our-advantages__sector-one{
    margin-bottom: 21px;
}
.sector-one__left{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sector-one__title{
    font-size: 64px;
    font-weight: 700;
    line-height: 68px;
}
.sector-title{
    font-size: 48px;
    font-weight: 700;
    line-height: 51px;
    font-size: 48px;
}
.sector-text{
    font-size: 18px;
    font-weight: 400;
    line-height: 19px;
}
.sector-one__item-one .sector-one__title{
    margin-bottom: 20px;
}
.sector-one__item-two{
    width: 432px;
    height: 165px;
}
.sector-one__item-three{
    width: 432px;
    height: 141px;
}
.sector-one__item-five{
    width: 885px;
    height: 705px;
}
.our-advantages__sector-two{
    display: flex;
    justify-content: space-between;
    
}
.sector-two__item-seven .sector-two__title{
    margin-bottom: 14px;
}
.sector-two__item-six{
    width: 433px;
    height: 149.44px;
}
.sector-two__item-eight{
    width: 414px;
    height: 147px;
}
.sector-two__item-seven{
    box-sizing: border-box;
    width: 431px;
}
.sector-two__item-seven .sector-text{
    padding-right: 40px;
} 
.sector-img img{
    width: 100%;
    height: 100%;
}

/* ///////////////////////////////////// */
.accordion li{
    list-style: none;
}
.question-block__title{
    margin-bottom: 55px;
}
.accordion__item{
    border: 1px solid #6D11CA;
    box-sizing: border-box;
    border-radius: 20px;
    padding: 30px 53px 0px 53px;
    transition: 0.5s ease all;
}
.accordion__header .accordion__title{
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 26px;
    transition: 0.5s ease all;
}
.accordion__header{
    display: flex;
    justify-content: space-between;
    padding-bottom: 30px;
    align-items: center;
}
.accordion__text{
    padding-bottom: 39px;
}
.marks__close{
    display: none;
}
.marks__open{
    display: block;
}
.accordion__item.active .marks__close{
    display: block;
}
.accordion__item.active .marks__open{
    display: none;
}
.accordion__text{
    display: none;
}
.accordion__item.active .accordion__text{
    display: block;
}
.question-block{
    margin-bottom: 180px;
}
.section-slider__offer--title{
    width: 550px;
    margin-bottom: 25px;
}
.section-slider__offer p{
    width: 365px;
}
.dot{
    width: 22px;
    height: 22px;
    border-radius: 61px;
    margin-bottom: 10px;
    background: #292929;
    cursor: pointer;
}
.active_dot{
    background: #6D11CA;
}
.fade{
    animation-name: fade;
    animation-duration: 2s;
}
@keyframes fade{
    from {
        opacity: 0.1;
    }
    to {
        opacity: 1;
    }
}
.section-slider__slider--img{
    max-width: 640px;
    max-width: 710px;
    cursor: pointer;
}
.slider-list{
    width: 100%;
    height: auto;
    display: none;
}
.slider-list--active{
    display: block;
}
.section-slider-wrp{
    display: flex;
    justify-content: space-between;
}
.section-slider__dots{
    margin-right: 25px;
}
.section-slider--slider{
    display: flex;
}
.section-about-title{
    width: 430px;
    margin-top: 20px;
}
.list-row-text h5{
    width: 340px;
    margin-bottom: 20px;
}
.list-row-text p{
    width: 430px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 138.38%;
    /* or 19px */


    color: #FFFFFF;
}
.list-row-text{
    margin-bottom: 20px;
}
.section-about--wrp{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

/* ////////////////////////////////////// */

.our-question__title{
    font-size: 72px;
    font-weight: 700;
    line-height: 121px;
}
.our-question__subtitle{
    font-size: 36px;
    font-weight: 500;
    line-height: 61px;
    margin-bottom: 80px;
}
.our-question__form{
    display: flex;
    justify-content: space-between;
}
.our-question__form-left{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.our-question__form-title{
    font-size: 48px;
    font-style: normal;
    font-weight: 500;
    line-height: 51px;
    margin-bottom: 32px;
}
.our-question__input{
    width: 434px;
    height: 54px;
    margin-bottom: 15px;
    box-sizing: border-box;
    padding: 18px 0px 18px 18px;
}
.our-question__input::placeholder{
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
}
.our-question__input:last-child{
    margin-bottom: 0px;
}
.our-question__form-center{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.our-question__form-textarea{
    box-sizing: border-box;
    border: none;
    width: 434px;
    height: 334px;
    resize: none;
    box-sizing: border-box;
    padding: 18px 0px 0px 18px;
}
.our-question__form-textarea::placeholder{
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
}
.our-question__form-right{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 431px;
}
.checkbox{
    display: flex;
    align-items: center;
}
.checkbox__title{
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 15px;
    margin-left: 16px;
}
.checkbox__input{
    display: none;
}

.checkbox__fake{
    display: block;
    min-width: 30px;
    height: 30px;
    background: #FFFFFF;
    border-radius: 10px;
    position: relative;
}
.checkbox__fake:after{
    content: '';
    width: 22px;
    height: 11.5px;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-position: center;
    background-image: url("data:image/svg+xml,%0A%3Csvg width='26' height='16' viewBox='0 0 26 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2 1.5L13.5 13L24 2.5' stroke='black' stroke-width='3'/%3E%3C/svg%3E");
    opacity: 0;
}
.checkbox__input:checked ~ .checkbox__fake:after{
    opacity: 1;
}
.our-question__form-button{
    box-sizing: border-box;
    width: 431px;
    height: 54px;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    margin-top: 18px;
    background-color: var(--color-dark);
    color: #FFFFFF;
}
.our-question__checkbox{
    margin-top: 21px;
}
.right-side__backgrond2{
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
    
}
.header-section__right-side__main-offer__about{
    margin-top: 278px;
    margin-left: 130px;
}
.about-header-section{
    margin-bottom: 75px;
}
.min-margin{
    margin: 0 0 143px 76px;
}
.how-to-courses_wrp_main-info h2{
    width: 433px;
}
.info-about-courses{
    margin-top: 38px;
}
.info-about-courses__white{
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 106.38%;
    color: #FFFFFF;
    margin-top: 7px;
}
.info-about-courses div{
    margin-bottom: 25px;
}
.info-about-courses div:last-child{
    margin-bottom: 0px
}
.info-about-courses__purple{
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 106.38%;
    color: var(--color-main);
}
.how-to-courses__wrapper{
    display: flex;
}
.p__steps{
    width: 433px;
    margin-top: 15px;
}
.button_type-2{
    background: var(--color-main);
    color: white;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 106.38%;
    text-align: center;
    align-items: center;
    padding: 19px 61px;
    border: none;
    transition: 0.5s ease;

}
.button_type-2:hover{
    background: none;
    Box-shadow:0px 1px 0px rgb(255, 255, 255),0px -1px 0px rgb(255, 255, 255),1px 0px 0px rgb(255, 255, 255),-1px 0px 0px rgb(255, 255, 255);
    /* border: 1px solid #FFFFFF; */
}
.step-btn{
    margin-bottom: 25px;
}
.step__line{
    width: 3px;
    height: 85px;
    background-color: white;
}
.step{
    margin-bottom: 25px;
}
.p__steps{
    margin-bottom: 25px;
}
.medical-section__intro{
    margin-bottom: 45px;
}
.how-to-courses__admission-steps{
    margin-left: 295px;
}
.medical-section__intro{
    width: 520px;
}
.medical-section__border-box__info-wrp{
    padding: 36px;
}
.medical-section__border-box__info-wrp p{
    margin-top: 25px;
}
.medical-section__wrp{
    display: flex;
}
.medical-section__border-box{
    border: 1px solid #FFFFFF;
    box-sizing: border-box; 
    width: 887px;
    margin-right: 25px;
    height: auto;
}
.med-video{
    width: 100%;
    height: auto;
    aspect-ratio: 4 / 3;
    padding-bottom: 25%;
    position: relative;
    
}
.medical-section__videp-item{
    max-width: 434px;
    width: 100%;
}